<section>
    <aside>
        <div class="flex justify-between mx-2 my-4 space-x-4">
            <button class="bg-gray-300 text-black px-5 py-2 rounded-full">
                Latest
            </button>
            <button class="bg-gray-300 text-black px-5 py-2 rounded-full">
                Filters(0)
            </button>
        </div>
    </aside>
    <aside> @*Section pour les filtres, fetch les data pour les type et faire un foreach qui va automatiquement afficher les filtre (maison etc)*@
        <div>
            
        </div>
    </aside>
</section>